@{
    ViewData["Title"] = "用户管理";
}

<head>
   <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="/scripts/jquery.min.js"></script>
   <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table table-hover">
  <h1>用户信息管理</h1>
  <thead>
    <tr>
      <th>姓名</th>
      <th>工号</th>
      <th>手机号</th>
      <th>邮箱</th>
      <th>部门</th>
      <th>用户权限</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <input type="hidden" value="">
      <td><input type="text" name="building_name" value="曾小港"/></td>
      <td><input type="text" name="first_coordinate" value="2015111123"/></td>
      <td><input type="text" name="second_coordinate" value="18821617759"/></td>
      <td><input type="text" name="third_coordinate" value="757772438@qq.com"/></td>
      <td>
        <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
        </select>
      </td>
      <td>
        <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
        </select>
      </td>
      <td><button type="submit" class="btn btn-primary">确认</button></td>
    </tr>
   <tr>
      <input type="hidden" value="">
      <td><input type="text" name="building_name" value="曾小港"/></td>
      <td><input type="text" name="first_coordinate" value="2015111123"/></td>
      <td><input type="text" name="second_coordinate" value="18821617759"/></td>
      <td><input type="text" name="third_coordinate" value="757772438@qq.com"/></td>
      <td>
        <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
        </select>
      </td>
      <td>
        <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
        </select>
      </td>
      <td><button type="submit" class="btn btn-primary">确认</button></td>
    </tr>
    <tr>
      <input type="hidden" value="">
      <td><input type="text" name="building_name" value="曾小港"/></td>
      <td><input type="text" name="first_coordinate" value="2015111123"/></td>
      <td><input type="text" name="second_coordinate" value="18821617759"/></td>
      <td><input type="text" name="third_coordinate" value="757772438@qq.com"/></td>
      <td>
        <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
        </select>
      </td>
      <td>
        <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
        </select>
      </td>
      <td><button type="submit" class="btn btn-primary">确认</button></td>
    </tr>
  </tbody>
</table>

    <div name="new_location" id="new location">
        <h1>添加新用户</h1>
        <form role="form">
            <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" class="form-control" placeholder="文本输入">
            <label for="name">工号</label>
            <input type="text" class="form-control" placeholder="数字输入">
            <label for="name">手机号</label>
            <input type="text" class="form-control" placeholder="数字输入">
            <label for="name">邮箱</label>
            <input type="text" class="form-control" placeholder="邮箱输入">
            <label for="name">选择部门</label>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <label for="name">用户权限</label>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">添加</button>
            <button type="reset" class="btn btn-primary">清空</button>
        </form>
    </div>
</div>

</body>

